<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">

    <title>欢分期</title>

    <meta name="keywords" content="欢分期, 欢旅金服">
    <meta name="description" content="欢分期">

    <link rel="stylesheet" href="../../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/views/credit/creditCheck.css">

</head>
<body>

<div class="header">
    <div class="inner clearfix">
        <div class="logo"><img src="../../images/common/logo.png" height="60"></div>
        <div class="tel">021-60930223<span>(9:00 - 17:30)</span></div>
    </div>
</div>

<div class="main-container">
    <div class="inner">

        <h2 class="credit-title">由于您是欢旅新用户，请填写以下资料，欢旅将联合芝麻信用实时为您授信审核</h2>

        <div class="credit-container">

            <form class="form-horizontal credit-form">
                <div class="form-group form-group-lg">
                    <label for="delivery_name" class="col-sm-3 control-label">姓名：</label>
                    <div class="col-sm-9">
                        <input type="text" id="delivery_name" placeholder="输入您的真实姓名" value="" maxlength="10"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group form-group-lg">
                    <label for="idCard" class="col-sm-3 control-label">身份证：</label>
                    <div class="col-sm-9">
                        <input type="text" id="idCard" placeholder="输入您本人的身份证号码" value="" maxlength="18"
                               class="form-control">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 clearfix">
                        <label class="radio-inline pull-left">
                            <input type="radio" name="userType" value="10"> 我是上班族
                        </label>
                        <label class="radio-inline pull-right">
                            <input type="radio" name="userType" value="11"> 我是学生
                        </label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" id="goToNext" class="btn btn-warning btn-block">下一步</button>
                    </div>
                </div>
            </form>

        </div>


    </div>
</div>

<div class="footer">
    <div class="mask"></div>
    <div class="inner">
        <ul class="qrcode-list list-unstyled clearfix">
            <li>
                <p class="pic"><img src="../../images/common/iOS-qrcode.png" width="108"></p>
                <p class="title">iOS下载</p>
            </li>
            <li>
                <p class="pic"><img src="../../images/common/android-qrcode.png" width="108"></p>
                <p class="title">Android下载</p>
            </li>
            <li>
                <p class="pic"><img src="../../images/common/wechat-qrcode.png" width="108"></p>
                <p class="title">微信公众号</p>
            </li>
        </ul>
        <p class="copyright">Copyright &copy; 2016 欢旅 上海欢旅金服有限公司 版权所有<br>沪ICP备16002202号-3 </p>
    </div>
</div>

<script src="../../js/libs/jquery-1.9.1.min.js"></script>
<script src="../../js/libs/bootstrap.min.js"></script>
<script src="../../js/plugins/layer/layer.js"></script>
<script src="../../js/views/credit/creditCheck.js"></script>

</body>
</html>
