<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">

    <title>欢分期</title>

    <meta name="keywords" content="欢分期, 欢旅金服">
    <meta name="description" content="欢分期">

    <link rel="stylesheet" href="../../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/views/user/login.css">

</head>
<body>

<div class="header">
    <div class="inner clearfix">
        <div class="logo"><img src="../../images/common/logo.png" height="60"></div>
        <div class="tel">021-60930223<span>(9:00 - 17:30)</span></div>
    </div>
</div>

<div class="row login-magin col-sm-12">

    <div class="row login-tip col-sm-7">
        <img src="../../images/views/user/muse.png">
    </div>

    <div class="form-horizontal login-form col-sm-5">

        <h4 class="tipM">登录</h4>

        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" id="logPhone" value="" class="form-control input-lg" placeholder="输入您的手机号码"
                       maxlength="11">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" id="toclick" class="btn btn-warning col-sm-12 input-lg">下一步</button>
            </div>
        </div>

    </div>

</div>

<div class="footer">
    <div class="mask"></div>
    <div class="inner">
        <ul class="qrcode-list list-unstyled clearfix">
            <li>
                <p class="pic"><img src="../../images/common/iOS-qrcode.png" width="108"></p>
                <p class="title">iOS下载</p>
            </li>
            <li>
                <p class="pic"><img src="../../images/common/android-qrcode.png" width="108"></p>
                <p class="title">Android下载</p>
            </li>
            <li>
                <p class="pic"><img src="../../images/common/wechat-qrcode.png" width="108"></p>
                <p class="title">微信公众号</p>
            </li>
        </ul>
        <p class="copyright">Copyright &copy; 2016 欢旅 上海欢旅金服有限公司 版权所有<br>沪ICP备16002202号-3 </p>
    </div>
</div>

<script src="../../js/libs/jquery-1.9.1.min.js"></script>
<script src="../../js/libs/bootstrap.min.js"></script>
<script src="../../js/plugins/layer/layer.js"></script>
<script src="../../js/views/user/login.js"></script>

</body>
</html>
